/*
font-family: 'Shrikhand', cursive;
font-family: 'Unica One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
*/


body {
  font-family: 'Abel', sans-serif;
  background-color: #93eaed;
  margin: 50px;
}

h1 {
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  color: #023133;
  font-size: 50px;
  line-height: 0.95em;
}

fieldset {
  border: none;
  max-width: 30px;
}

legend {
  text-decoration: underline;
}