/*
font-family: 'Shrikhand', cursive;
font-family: 'Unica One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
*/

body {
  font-family: 'Abel', sans-serif;;
  font-size: 20px;
  text-align: center;
  background: #19323C;
  color: #F2545B;
  margin: 3em;
}

strong {
  font: 800 18px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-family: 'Shrikhand', cursive;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 0.95em;
}

h2 {
  font-family: 'Shrikhand', cursive;
  text-transform: uppercase;
}

#options li {
  display: inline-block;
}

button {
  background: #F2545B;
  color: #19323C;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  margin: 5px 5px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
} 
button:active {
  background: #F2545B;
}

.scoreboard {
  width: 14em;
  margin: auto;
  border: 1px solid #F2545B;
}
.scoreboard h2 {
  border-bottom: 1px solid #F2545B;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.scoreboard table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
}
.scoreboard th, .scoreboard td {
  text-align: center;
}
.scoreboard td {
  font-size: 3em;
  padding: 0 20px;
}

#status {
  margin-top: 20px;
}