/******************************************
/* BASE STYLES
/*******************************************/
.body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.blog{
  margin: 0px;
  background: #e8edea;
}

.meganav{
  background: #102e5e;
  width: 100%;
  height: 90px;
  color: #f9f50e;
}

.relaxr_logo{
  padding: 0px 0px 0px 40px;
  color: #fff;
  font-weight: 900;
  float: left;
}

/*Navigation*/
.nav_ul{
  float:right;
  list-style-type: none;
  color: #e8df37;
  display: inline;
  padding: 20px 10% 0px 0%;
}

.nav_ul a{
  padding: 8px;
  text-decoration: none;
  color: #e8df37;
}

.nav_ul.a:hover{ text-decoration: none; color: #fff;}
.nav_ul.a:visited{ text-decoration: none; color: #e8df37;}
.nav_ul.a:active{ text-decoration: none; color: #e8df37;}
.nav_ul.a:active, a:hover{ text-decoration: none; color: #fff;}

.nav_ul li{
  display: inline;
  float: right;
}



/******************************************
/* SPLASH PAGE INTRO SECTION STYLES
/*******************************************/

.splashpage_header{
  background-image: url("../images/header_bg.jpg");
  background-repeat:no-repeat;
  height: 450px;
  width: 100%;
}

.tagline {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
  font-weight: 300;

}
/*Can you add "alt" to images in the stylesheet? When do you use margin:auto and when do you use background: cover?*/

/******************************************
/* BUTTON STYLES
/*******************************************/

.button{
  width:20%;
  border-radius: 5px;
  color: black;
  font-weight: 800;
  text-align: center;
  margin: auto;
  background: #f9f50e;
  border-width: 8px;
  border-color: #f9f50e;
  padding: 8px;
}

/*Black Button*/
.black{
    background: #102e5e;
    color: white;
}

#inner{
  width: 50%;
  margin: 0 auto;
}

/******************************************
/* BENEFITS SECTION
/*******************************************/

#benefits{
    padding: 20px 55px;
    max-width: 500px;
    color: #666666;
}

.relaxr_h3{
  font-size: 30px;
  color: black;
}

/******************************************
/* TESTIMONIAL SECTION STYLES
/*******************************************/

.relaxr_testimonial{
  background: url(../images/testimonial_bg.jpg) no-repeat;
  background-repeat:no-repeat;
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
  padding: 40px;
  font-style: italic;
  font-size: 20px;
  line-height: 28px;
}

#relaxr_testimonial_contributer{
  font-weight: 700;
}

.relaxr_sign_up_banner{
  background: #f9f50e;
  width: 100%;
  height: 80px;
  align-content: center;
}


/******************************************
/* ARTICLE STYLES
/*******************************************/

.article{
  border-bottom: solid 1px;
  padding-bottom: 1%;
  margin: 3% 0px 7% 40px;
  color: #000;
  width: 80%;
}

.article_title{
  color: #102e5e;
  font-size: 32px;
}

.article_title:hover{
  color: #547fc4;
}

p{
    line-height: 1.6em;
}

.dropcap{
  float: left;
  font-size: 400%;
  line-height: 110%;
  color: #666666;
  padding-right: 5px;
  width: 0.7em;
}

.relaxr_read_more{
  font-weight: 800;
  text-align: right;
  color: #102e5e;
}

.relaxr_read_more:hover{
  color: #547fc4;
}

.relaxr_img{
  max-width: 100%;
}

/******************************************
/* SIDEBAR SECTION STYLES
/*******************************************/

.sidebar_h4{
  font-size: 18px;
  color:#102e5e;
  font-weight: 700;
  padding-bottom: 6px;
}

.sidebar_link{
  font-size: 15px;
  font-style: italic;
}



/******************************************
/* FOOTER SECTION STYLES
/*******************************************/

.relaxr_footer{
  background: #202226;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.relaxr_footer .relaxr_logo{
  float: none;
  display: inline-block;
}

.relaxr_footer ul{
  display: block;
  margin: 0 auto;
}

.relaxr_footer li{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

.social_icons{
  padding: 10px;
}

.relaxr_copyright{
  font-size: 10px;
  color: white;
  text-align: center;
}